@{
    ViewBag.Title = "Topics";
}
    <head>
        <!--jQuery Link-->
        <script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>
        <!--jQuery-UI Link-->
        <script src="~/Scripts/jquery-ui-1.12.1.js" type="text/javascript"></script>

        <script src="~/Scripts/progressBar.js" type="text/javascript"></script>
    </head>
@*<body style="background-color:transparent; background-image: url(~/Images/dojoBackground.jpg);">*@

    <div class="Welcoming">
        <h1 style="text-align:center"><strong>Choose a Language!</strong></h1>
        <h3 style="text-align:center">@ViewBag.Message</h3>
    </div>
    <br />
    @*First Section - Beginner*@
    <h2 style="text-align:center"><strong>Stage 1 - Beginner</strong></h2>
    @* HTML/CSS *@
    <div class="row" style="height:275px">
        <div class="col-md-6" style="border-style:solid; height:100%; border-radius:5%; ">
            <h2 style="color:green; text-align:center"><strong>Topic 1 <img class="topicLogos" src="~/Images/HTML5_logo.png" /><br /> HTML & CSS</strong></h2>
            <p style="text-align:center"><i>Web Developement Mark-up language used to produce webpages for websites. Use HTML to structure and then CSS to style your webpages and stand out from the crowd</i></p>
            <p><a class="btn btn-default" href="@Url.Action("HTMLPage", "Topics")" style="background-color:rosybrown">Learn more &raquo;</a></p>
            @*Progress Bar*@
            <div id="pbTopic1" style="margin-bottom:1%;">
                <script>
                    $(document).ready(function ($) {
                        $('#pbTopic1').progressbar(
                            {
                                value: 0,
                                create: function (e) {
                                    $('#html-label').text($('#pbTopic1').progressbar("value"));
                                },
                                complete: function (e) {
                                    $('#html-label').append("Completed")
                                },
                                change: function (e) {
                                    $('#html-label').text($('#pbTopic1').progressbar("value"));
                                }
                            });
                    });
                </script>
                Topic Completion: <strong><span id="html-label" style="position:relative;"></span></strong>
            </div>
        </div>
        @* C-Sharp *@
        <div class="col-md-6" style="border-style: solid; height:100%; border-radius: 5%;">
            <h2 style="color:green; text-align:center"><strong>Topic 2 <img class="topicLogos" src="~/Images/Csharp_logo.png" /><br /> C# </strong></h2>
            <p style="text-align:center"><i>A general multi-purpose programming language developed using the .NET Framework that uses the Object-oriented paradigm</i></p>
            <p><a class="btn btn-default" href="@Url.Action("CSharpPage", "Topics")" style="background-color:rosybrown">Learn more &raquo;</a></p>
            @*Progress Bar*@
            <div id="pbTopic2" style="margin-bottom:1%;">
                <script>
                    $(document).ready(function ($) {
                        $('#pbTopic2').progressbar(
                            {
                                value: 0,
                                create: function (e) {
                                    $('#csharp-label').text($('#pbTopic2').progressbar("value"));
                                },
                                complete: function (e) {
                                    $('#csharp-label').text("Completed!")
                                },
                                change: function (e) {
                                    $('#csharp-label').text($('#pbTopic2').progressbar("value"));
                                }
                            });
                    });
                </script>
                Topic Completion: <strong><span id="csharp-label" style="position:relative;"></span></strong>
            </div>
        </div>
    </div>
    <br />
    @* Second Section - Intermediate*@
    <h2 style="text-align:center"><strong>Stage 2 - Advanced</strong></h2>
    <div class="row" style="height:275px">
        @* CPlusPlus *@
        <div class="col-md-6" style="border-style:solid; height:100%; border-radius: 5%;">
            <h2 style="color:green; text-align:center"><strong>Topic 3 <img class="topicLogos" src="~/Images/Cplusplus_logo.png" /><br /> C++</strong></h2>
            <p style="text-align:center"><i>A high-level programming language extension of C that uses the Object-oriented paradigm</i></p>
            <p><a class="btn btn-default" href="@Url.Action("CplusplusPage", "Topics")" style="background-color:rosybrown">Learn more &raquo;</a></p>
            @*Progress Bar*@
            <div id="pbTopic3" style="margin-bottom:1%;">
                <script>
                    $(document).ready(function ($) {
                        $('#pbTopic3').progressbar(
                            {
                                value: 0,
                                create: function (e) {
                                    $('#cplus-label').text($('#pbTopic3').progressbar("value"));
                                },
                                complete: function (e) {
                                    $('#cplus-label').text("Completed!")
                                },
                                change: function (e) {
                                    $('#cplus-label').text($('#pbTopic3').progressbar("value"));
                                }
                            });
                    });
                </script>
                Topic Completion: <strong><span id="cplus-label" style="position:relative;"></span></strong>
            </div>

        </div>
        @* JavaScript *@
        <div class="col-md-6" style="border-style:solid; height:100%; border-radius:5%;">
            <h2 style="color:green; text-align:center"><strong>Topic 4 <img class="topicLogos" src="~/Images/js-logo.png" /><br /> JavaScript </strong></h2>
            <p style="text-align:center"><i>JavaScript</i></p>
            <p><a class="btn btn-default" href="@Url.Action("JavaScriptPage", "Topics")" style="background-color:rosybrown">Learn more &raquo;</a></p>
            @*Progress Bar*@
            <div id="pbTopic4" style="margin-bottom:1%;">
            <script>
                $(document).ready(function ($)
                {
                    $('#pbTopic4').progressbar(
                    {
                        value: 0,
                        create: function (e)
                        {
                            $('#js-label').text($('#pbTopic4').progressbar("value"));
                        },
                        complete: function (e)
                        {
                            $('#js-label').text("Completed!")
                        },
                        change: function (e)
                        {
                            $('#js-label').text($('#pbTopic4').progressbar("value"));
                        }
                    });
                });
            </script>
                Topic Completion: <strong><span id="js-label" style="position:relative;"></span></strong>
            </div>
        </div>
    </div>
    <br />
    @* Third Section - Support *@
    <br />
    <div class="row">
        <div class="col-md-4" style="border-style: solid; border-radius: 5%;">
            <h2 style="color:green; text-align:center"><strong>FAQ</strong></h2>
            <p style="text-align:center"><i>See if anyone else has asked the same as you!</i></p>
            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4" style="border-style:solid; border-radius:5%;">
            <h2 style="color:green; text-align:center"><strong>Ask an expert!</strong></h2>
            <p style="text-align:center"><i>Still can't find what you're looking for? Ask Us!</i></p>
            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </div>
    </div>
